:root {
   --color-eee: #EEE;
   --color-ccc: #CCC;
   --color-gray: #777;
   --main-transition: .3s;
   --color-black: #000;
   --color-main: #ee3749;
   --color-mainA: #e91e32;
}

* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
}

a {
   text-decoration: none;
}

ul {
   list-style-type: none;
}

::-webkit-scrollbar {
   width: 15px;
}

::-webkit-scrollbar-thumb {
   background-color: #000;
}

::-webkit-scrollbar-track {
   background-color: #FFF;
}

html {
   scroll-behavior: smooth;
}

body {
   /* font-family: 'Open Sans', sans-serif; */
   font-family: 'cursive';
}

.container {
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}

/*  Screen Small */
@media (min-width:768px) {
   .container {
      width: 750px;
   }
}

/*  Screen Medium */
@media (min-width:992px) {
   .container {
      width: 970px;
   }
}

/*  Screen Large */
@media (min-width:1200px) {
   .container {
      width: 1170px;
   }
}

/* 0101010010100101010010101010100101 */

/* 
body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300 , 500 , 600 , 700 , 800 , 900;
  font-style: normal;
} */

.page{
   display: flex;
   padding: 30px;
   background-color: #fea4a4;
}

header {
   background-color: var(--color-main);
   width: 230px;
   height: calc(100vh - 60px);
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}

header h1{
   width: 100%;
   text-align: center;
   padding-block: 23px;
   font-size: 20px;
   color: #fff;
   animation: cv 2s alternate both;
}

@keyframes cv{
   from{
      margin-left: -200px;
   }

   to{
      margin-left: 0px;
   }
}

header ul li a{
   display: flex;
   padding: 12px 0px 12px 20px;
   color: #fff;
   letter-spacing: .03em ;
   font-weight: 800;
   border-radius: 10px;
   margin: 0px 5px 3px;
   align-items: center;
   gap: 7px;
}

header ul li img{
   width: 16px;
}

header ul li a.active{
   background-color: white;
   color: var(--color-main);
}

header ul li:last-of-type a.active{
   background-color: white;
   color: blue;
}

.content{
   width: calc(100% - 230px);
   background-color: #f0f0f0;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   height: calc(100vh - 60px);
}

nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: white;
   padding-block: 8px;
   box-shadow: 0 0 3px -2px;
   border-top-right-radius: 10px;
}

nav .search{
   flex-basis: 70%;
   position: relative;
}

nav .search .x{
   position: relative;
   width: fit-content;
   margin-left: 33%;
}

nav .search input{
   width: 350px;
   padding: 8px 3px;
   outline: none;
   border: 1px solid var(--color-main);
   border-radius: 8px;
   box-shadow: 0 0 5px -2px var(--color-mainA);
}

nav .search input::placeholder{
   text-indent: .3em;
   opacity: .7;
   color: var(--color-mainA);
}

nav .search i{
   color: var(--color-mainA);
   position: absolute;
   right: 7px;
   top: 9px;
   font-size: 15px;
   cursor: pointer;
}

nav .info{
   flex-basis: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
   margin-right: 30px;
}

nav button , 
article .box table tbody tr button,
article .box .caption button{
   padding: 8px 10px;
   color: #FFF;
   background-color: var(--color-main);
   border: 1px solid ;
   border-radius: 4px;
   cursor: pointer;
   transition: .2s linear;
}

nav .info i{
   font-size: 20px;
   cursor: pointer;
}

nav .info i:hover{
   color: var(--color-mainA);
}

nav button:hover ,
article .box table tbody tr button:hover,
article .box .caption button:hover{
   background-color: var(--color-mainA);
   border-color: red;
}

nav .image img{
   cursor: pointer;
   width: 35px;
   height: 35px;
   border-radius: 50%;
}

section.one {
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 30px 20px;
}

section.one .box{
   background-color: white;
   width: fit-content;
   padding: 25px;
   width: 200px;
   height: 150px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
   border-radius: 10px;
}

section.one .box:not(.box.first){
   box-shadow: inset 0 5px  0 var(--color-mainA);
}

section.one .box.first{
   width: 120px;
   height: 120px;
   border-radius: 50%;
   border: 5px solid var(--color-main);
   font-size: 18px;
   font-weight: 800;
}

section.one .box span{
   font-size: 30px;
   font-weight: 900;
   color: var(--color-main);
   transition: opacity .5s linear , color .5s linear;
   opacity: .6;
}

section.one .box:hover span{
   opacity: 1;
   color: var(--color-mainA);
}

section.one .box p{
   color: #777;
   font-size: 23px;
   box-shadow: inset 0 0 #18e705;
   transition: .5s linear;
}

section.one .box:hover p{
   color: #000;
   box-shadow: inset 0 -2px #18e705;
}

section.one .box img{
   width: 50px;
}

article{
   width: 100%;
   height: calc(100vh - 380px);
   padding: 0 40px;
   display: flex;
   gap: 50px;
}

article .table{
   width: 66%;
   height: 100%;
}

article .box {
   height: 100%;
   width: 100%;
   border-radius: 10px;
   box-shadow: 0 0 8px -3px #0000006b;
}

article .box table{
   height: 100%;
   width: 100%;
   background-color: white;
   text-align: center;
   border: 1px solid #cccccc69;
}

article .box .caption{
   padding-block: 5px;
   background-color: white;
   display: flex;
   justify-content: space-around;
   align-items: center;
   border-radius: 10px;
   /* border-bottom: 2px solid #777; */
}

article .box .caption span{
   font-size: 20px;
   font-weight: 800;
}

article .box .caption button{
   padding: 7px 15px;
}

article .box table thead tr td{
   font-weight: 900;
   padding-block: 8px;
}

article .box table tbody tr td{
   color: #474646;
}

article .box table tbody tr button{
   padding: 6px 13px;
}

article .news{
   width: 30%;
}

article .news table img{
   width: 35px;
   height: 35px;
   border-radius: 50%;
}

article .news .caption span{
   font-size: 18px;
}

article .news table td span{
   cursor: pointer;
}

article .news table td span:hover{
   color: var(--color-mainA);
}

